In [ ]:
import pyodbc
pyodbc.pooling = False

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [ ]:
engine = create_engine('mssql+pyodbc://odbc_dsn_name?driver=SQL Server?Trusted_Connection=yes')

In [ ]:
try:
    conn = engine.connect()
except Exception as exc:
    print(exc)

In [ ]:
# select and display contents of table from the database using text method

t = text('select top 5 * from table_name')
result = engine.execute(t)
for row in result:
    print (row)
result.close()

In [ ]:
# text()function requires Bound parameters in the named colon format.

s = text("select students.name, students.lastname from students where students.name between :x and :y")
conn.execute(s, x = 'A', y = 'L').fetchall()

In [ ]:
# Update rows in a SQL table
sql = '''
    UPDATE table 
    SET col='abc'
    WHERE condition;
'''
with engine.connect() as conn:
    conn.execute(text(sql))

In [ ]:
# Insert new rows in a SQL table
sql = '''
    INSERT INTO df
    VALUES 
       (1, 'abc'),
       (2, 'xyz'),
       (1, 'abc');
'''
with engine.connect() as conn:
    conn.execute(text(sql))

In [ ]:
# Delete rows in a SQL table
sql = '''
    DELETE FROM df
    WHERE condition;
'''
with engine.connect() as conn:
    conn.execute(text(sql))

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('my_csv')
# create a new table and append data frame values to this table
db_table_name = 'Department_test'
df.to_sql(df, name=db_table_name, con=conn, if_exists='append', index=False, chunksize=1000)

In [ ]:
query_1 = '''select top 5 * from table'''

In [ ]:
with engine.connect() as conn:
    query = conn.execute(text(query_1))         
df = pd.DataFrame(query.fetchall())

In [ ]:
with engine.connect() as conn:
    df = pd.read_sql(query_1, con = conn)

In [ ]:
conn = engine.connect()
sql_query_result = pd.read_sql_query(query_1, engine)
# df_1 = pd.DataFrame(sql_query, columns = ['column1','column2'])
df_1 = pd.DataFrame(sql_query_result)
conn.close()